# Merge `rate` and `benefits`

In this notebook, I imported my cleaned my **rate.pkl** and **benefits_dum.pkl** files and did the following:

- drop certain un-needed columns
- filter by the most recent year available (2016)
- concatenate my `benefits` dataframe to my `rate` dataframe by `'StandardComponentId'`, (which will be renamed `'PlanId'`), which is the plan identifer.

I use the following libraries:

1. `pandas` - A library for manipulating data in a tabular format
2. `pickle` - used to load data previously stored
3. `sqlalchemy` - for interacting with our PostgreSQL database directly from within these notebooks (generating SQL statements).
4. `psycopg2` - a database adapter that sends SQL statements to the actual database.
5. `io` -

In [1]:
import pandas as pd
import pickle

import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

import io

/Users/namanbhandari/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Load a few files (and describe them):
- rate.pkl
- benefits_dum.pkl
- crosswalk2.csv

In [2]:
with open('../pickles/rate.pkl', 'rb') as rate:
    rate = pickle.load(rate)
rate.shape

(12694445, 24)

In [3]:
with open('../pickles/benefits_dum.pkl', 'rb') as benefits_dum:
    benefits = pickle.load(benefits_dum)
benefits.shape

(413907, 229)

In [4]:
crosswalk = pd.read_csv('../data/crosswalk2.csv')
crosswalk.shape

(412, 2)

## Cleaning `rate`

Below, I dropped duplicative or un-needed columns.

In [5]:
rate.drop(columns=['IssuerId', 
                   'SourceName',
                   'VersionNum',
                   'ImportDate',
                   'IssuerId2',
                   'FederalTIN'], inplace=True)

I am focusing only on a single plan year, so I'm dropping plans not in the current year.

In [6]:
rate = rate[rate['BusinessYear'] == 2016]

In [7]:
rate_cols = [col for col in rate.columns]

In [8]:
rate.shape

(4221965, 18)

## Cleaning `benefits`

1. Drop `'PlanId'` from `benefits`
2. Rename `'StandardComponentId'` to `'PlanId'`
3. Cast `'PlanId'` as an object (not as a category)

In [9]:
benefits.drop(columns=['PlanId'], inplace=True)
benefits = benefits.rename(columns={'StandardComponentId': 'PlanId'}) 
benefits.PlanId = benefits.PlanId.astype('object')

In [10]:
benefits.shape

(413907, 228)

## Filter `benefits` to view dummy columns only

Create a filter to view only the dummied columns (the benefits columns) in `benefits`. We will end up with 207 unique benefits.

In [11]:
ben_cols = [x for x in crosswalk['Crosswalk'].unique()]

ben_cols.remove('delete') 

ben_cols.insert(0, 'BenefitName')
ben_cols.insert(1, 'PlanId')

In [12]:
ben_cols_dum = [x for x in ben_cols if x != 'BenefitName' if x != 'PlanId']

In [13]:
benefits[ben_cols_dum].head()

,"Dental Care, Basic - Child","Dental Care, Major - Child",Orthodontia - Child,"Dental, Accidental - Adult","Dental Care, Basic - Adult","Dental Care, Major - Adult","Dental Care, Routine - Adult",Orthodontia - Adult,Delivery and All Inpatient Services for Maternity Care,Durable Medical Equipment,...,Endodontics - Adult,Habilitation - Acquired Brain Injury,Dental Cleanings - Adult,Surgical Extraction - Adult,Surgical Extraction - Child,Cosmetic Orthodontia,"Renal Dialysis, End Stage",Post-cochlear implant aural therapy,X-Rays and Exams - Adult,"Dental Care, Minor - Adult"
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
benefits[ben_cols_dum].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413907 entries, 0 to 425149
Columns: 207 entries, Dental Care, Basic - Child to Dental Care, Minor - Adult
dtypes: uint8(207)
memory usage: 84.9 MB

## Merge `benefits` and `rate` on `'PlanId'`

1. Take `benefits` and groupby `'PlanId'` to get all features of each plan on one row and call the temp dataframe `benefits_planid`.  
    a. We will **sum** our columns in `benefits` when doing the groupby, and then replace any values "greater than 1" with '1'.
2. Then, merge `benefits_planid` to `rate` on `'PlanId'`.

In [15]:
benefits_planid = benefits[ben_cols].drop('BenefitName', axis=1).groupby('PlanId').sum()
benefits_planid[benefits_planid > 1] = 1

In [16]:
ratebenefits = pd.merge(rate, benefits_planid, on='PlanId', how='inner')
ratebenefits[ratebenefits.select_dtypes(['object']).columns] = ratebenefits.select_dtypes(['object']).apply(lambda x: x.astype('category'))

In [17]:
ratebenefits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3977375 entries, 0 to 3977374
Columns: 225 entries, BusinessYear to Dental Care, Minor - Adult
dtypes: category(7), float64(9), int64(2), uint8(207)
memory usage: 1.2 GB

In [18]:
ratebenefits.shape

(3977375, 225)

Some rows ended up being dropped from `rate` because the `benefits` dataframe did not have all the rows that the `rate` dataframe did. This is because we had filtered on the year 2016 earlier.

## Load and clean `PlanAttributes.csv`

In [19]:
attributes = pd.read_csv('../data/PlanAttributes.csv')

/Users/namanbhandari/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (0,7,8,9,10,11,12,13,14,15,18,19,20,22,23,24,25,26,27,28,29,31,32,33,34,39,40,41,42,66,67,68,70,71,72,75,76,77,79,80,81,82,84,85,86,88,89,90,92,93,94,96,97,98,136,137,138,140,141,142,145,146,147,150,151,152,154,155,156,158,159,160,162,163,164,166,167,168) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

`attributes` shape before cleaning:

In [20]:
attributes.shape

(77353, 176)

In [21]:
attributes = attributes[attributes.PlanId.str.contains('-00')]
attributes = attributes[attributes['BusinessYear'] == 2016]

`attributes` shape after cleaning:

In [22]:
attributes.shape

(8398, 176)

Drop the `'PlanId'` column from `attributes` and rename `'StandardComponentId'` as `'PlanId'`

In [23]:
attributes[attributes.select_dtypes(['object']).columns] = attributes.select_dtypes(['object']).apply(lambda x: x.astype('category'))
attributes.drop(columns=['PlanId'], inplace=True)
attributes = attributes.rename(columns={'StandardComponentId': 'PlanId'}) 
attributes.PlanId = attributes.PlanId.astype('object')

`attributes` shape after dropping:

In [24]:
attributes.shape

(8398, 175)

Isolate columns that are from `attributes`:

In [25]:
attributes_cols = ['PlanId',
             'IsNoticeRequiredForPregnancy', 
             'IsReferralRequiredForSpecialist', 
             'ChildOnlyOffering', 
             'WellnessProgramOffered', 
             'DiseaseManagementProgramsOffered', 
             'OutOfCountryCoverage', 
             'NationalNetwork']

In [26]:
attributes[attributes_cols].head()

,PlanId,IsNoticeRequiredForPregnancy,IsReferralRequiredForSpecialist,ChildOnlyOffering,WellnessProgramOffered,DiseaseManagementProgramsOffered,OutOfCountryCoverage,NationalNetwork
49972,21989AK0030001,NaN,NaN,Allows Adult and Child-Only,NaN,NaN,No,Yes
49973,21989AK0080001,NaN,NaN,Allows Adult and Child-Only,NaN,NaN,No,Yes
49975,21989AK0050001,NaN,NaN,Allows Adult and Child-Only,NaN,NaN,No,Yes
49976,21989AK0080002,NaN,NaN,Allows Adult and Child-Only,NaN,NaN,No,Yes
49978,21989AK0050002,NaN,NaN,Allows Adult and Child-Only,NaN,NaN,No,Yes

## Merge `ratebenefits` and `attibutes[attibutes_cols]` on `'PlanId'` to create final merged `df` for analysis

In [27]:
df = pd.merge(ratebenefits, attributes[attributes_cols], on='PlanId', how='outer')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3977375 entries, 0 to 3977374
Columns: 232 entries, BusinessYear to NationalNetwork
dtypes: category(13), float64(9), int64(2), object(1), uint8(207)
memory usage: 1.2+ GB

## Add a unique key to each plan, called `'ben_key'`

In [29]:
df['ben_key'] = df.groupby(ben_cols_dum).ngroup()
ben_key_cols_dum = ben_cols_dum.copy()
ben_key_cols_dum.append('ben_key')

Drop duplicate rows (based on the benefits columns `ben_cols_dum`) to view the vectors that are unique.

In [30]:
no_dupes = df[ben_key_cols_dum].set_index('ben_key').drop_duplicates()

## Upload dataframe to SQL

In [31]:
# set up connection to database (with username/pw if needed)
engine = create_engine('postgres://postgres:postgres@54.190.31.46:5432/')

In [32]:
def write_to_table(df, db_engine, schema, table_name, if_exists='replace'):
    string_data_io = io.StringIO()
    df.to_csv(string_data_io, sep='|', index=False)
    pd_sql_engine = pd.io.sql.pandasSQL_builder(db_engine, schema=schema)
    table = pd.io.sql.SQLTable(table_name, pd_sql_engine, frame=df,
                               index=False, if_exists=if_exists, schema=schema)
    table.create()
    string_data_io.seek(0)
    string_data_io.readline()  # remove header
    with db_engine.connect() as connection:
        with connection.connection.cursor() as cursor:
            copy_cmd = "COPY %s.%s FROM STDIN HEADER DELIMITER '|' CSV" % (schema, table_name)
            cursor.copy_expert(copy_cmd, string_data_io)
        connection.connection.commit()

In [33]:
# # This function writes my dataframe to a PostgreSQL database hosted on AWS
# write_to_table(df, engine, 'public', 'plans')

In [34]:
df_small = df.drop(columns=ben_cols_dum)
df_small = df_small.drop(columns=['RateEffectiveDate', 'RateExpirationDate'])
df_small.shape

(3977375, 24)

In [35]:
# # This function writes my df_small dataframe to a PostgreSQL database hosted on AWS
# write_to_table(df_small, engine, 'public', 'small')

## Create pickles

In [36]:
# # main CSV of benefits
# df.to_csv('../pickles/df.csv')

In [37]:
# # main dataframe of benefits
# with open('../pickles/df.pkl', 'wb') as file:
#     pickle.dump(df, file)

In [38]:
# # main dataframe of attributes
# with open('../pickles/attributes.pkl', 'wb') as file:
#     pickle.dump(attributes, file)

In [39]:
# # unique vectorized plans
# with open('../pickles/no_dupes.pkl', 'wb') as file:
#     pickle.dump(no_dupes, file)

In [40]:
# # dummy benefits columns
# with open('../pickles/ben_cols_dum.pkl', 'wb') as file:
#     pickle.dump(ben_cols_dum, file)

In [41]:
# # rate columns
# with open('../pickles/rate_cols.pkl', 'wb') as file:
#     pickle.dump(rate_cols, file)