# Create SQL Database

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
import pickle

/Users/namanbhandari/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
engine = create_engine('postgres://postgres:postgres@54.190.31.46:5432/')
engine = create_engine('sqlite:///C:\\path\\to\\foo.db')

In [5]:
type(engine)

sqlalchemy.engine.base.Engine

In [6]:
with open ('../pickles/df.pkl', 'rb') as pkl:
    df = pickle.load(pkl)

In [10]:
# df.to_sql('this_postgres', engine, if_exists='append')

In [ ]:
query = """
SELECT *
FROM this_postgres
LIMIT 10
"""
df = pd.read_sql_query(query, engine)
df

In [2]:
import sqlite3

conn = sqlite3.connect("../../../../../../Downloads/database.sqlite")

In [3]:
cur = conn.cursor()

In [32]:
query = """
select * 
FROM BenefitsCostSharing, Rate 
WHERE Rate.PlanId = BenefitsCostSharing.StandardComponentId 
    AND Rate.StateCode = 'AK' 
    AND Age = '30'
LIMIT 5;
"""

In [33]:
df = pd.read_sql_query(query, conn)

0            Accidental Dental
1            Accidental Dental
2    Basic Dental Care - Adult
3    Basic Dental Care - Adult
4    Basic Dental Care - Child
Name: BenefitName, dtype: object

In [42]:
df[['StandardComponentId', 'PlanId']]

  StandardComponentId             PlanId          PlanId
0      21989AK0010001  21989AK0010001-00  21989AK0010001
1      21989AK0010001  21989AK0010001-01  21989AK0010001
2      21989AK0010001  21989AK0010001-00  21989AK0010001
3      21989AK0010001  21989AK0010001-01  21989AK0010001
4      21989AK0010001  21989AK0010001-00  21989AK0010001

In [24]:
query = """
select * 
FROM Rate 
LIMIT 5;
"""

In [25]:
df2 = pd.read_sql_query(query, conn)
df2

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,FederalTIN,RateEffectiveDate,RateExpirationDate,...,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents,RowNumber
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,29.00,,,,,,,,,14
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,,73.9,107.61,107.61,107.61,144.56,144.56,144.56,14
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,,73.9,107.61,107.61,107.61,144.56,144.56,144.56,15
3,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,,,,,,,,,15
4,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,,,,,,,,,16

In [27]:
len(list(df2.columns))

24